.Register-task-form{
    width: 600px;
    height: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;

}
@media (max-width: 500px) {
    .Register-task-form{
        height: 450px;
        width: 330px;
        background: #eef1f6;
    }
}